<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/lapto/IdeaProjects/selenium-saucedemo/src/test/java/Login/loginNew.java"><classes><class name="Login.loginNew"><methods><include name="AccountLoginSuccess"/><include name="AccountLoginFailed"/></methods></class></classes></test></suite>